/* html{
  scroll-behavior: smooth;
} */
body{
    background-color:  rgba(0, 0, 0, .95);
}
  .parentOption{
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 999999999;
    transition: 1s;
  }
  .optionBox{
    padding-left: 30px;
    width: 250px;
  }
  .optionBox li a,  .optionBox img , .parentOption i {
    cursor: pointer;
  }
  .optionBox li a{
    text-decoration: none;
    color: white;
    transition: 1s;
  }
  .optionBox li a:hover{
    color: #ff655c;
  }
  .optionBox li{
    padding-top: 25px
  }
  .optionBox i:hover{
    color: #ff655c;
    transition: 1s;
  }
  .navlinks{
    position: relative;
    top: 500;
    opacity: 0;
    overflow: hidden;
  }
  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.7);
    border-radius: 0;
    color: #fff;
  }
  .placeholderchange::placeholder{
    text-align: center;
  }
  .movie-item
{
    position: relative;
    overflow: hidden;
}
  .layer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.7);
    text-align: center;
    padding: 20px;
    transition: top 0.8s ease-in-out;
}
.movie-item:hover .layer{
    top:0;
}
@media only screen and (max-width: 992px){
  #navlogo{
    height: 30%;
  }
  #togglerBtn{
    font-size: 60px;
    margin: 8px;
  }
  #navicons{
    font-size: 60px;
    margin: 10px;
  }
}
#iconsWcopyrights{
  opacity: 0;
}